/* Nav styling */

.intro {
  font-size: 50px;
}

img {
  border-radius: 50%;
  width: 26%;
  height: 10%;
}

#header, #footer{
  position: fixed;
  height: 70px;
  display: block;
  width: 100%;
  background: #333333;
  z-index: 19;
  text-align: center;
  color: #f2f2f2;
  padding: 0 0 0 0;
}

#header{
  top: 0px;
}

#header h1 {
  text-align: left;
  margin-left: 1em;
  font-size: 4rem;
  line-height: 7rem;
  float: left;
}

#nav {
  line-height: 6.5rem;
  list-style: none;
  margin-left: 30px;
}

.nav {
  font-size: 2.5rem;
  display: inline;
  margin-left: 10px;
  margin-right: 20px;
}

.nav:hover {
  cursor: pointer;
}

.active-nav {
  background-color: white;
  color: black;
  padding: 1em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.clash-link {
  color: #4f71f0;
}

#icons {
  margin-right: 1em;
}

#svg-list {
  list-style: none;
}

#svg-list li {
  display: inline;
}

.svg-icon {
  width: 70px;
  height: 70px;
}

/* Section styling */

#section-one {
  /* Blue - 3rd down */
  background-color: #FFEB3B;
  text-align: center;
}

#section-two {
  /* Teal - 3rd down */
  background-color: #ffb74d;
}

#section-three {
  /* Light blue - 3rd down */
  background-color: #FFECB3;
}

#section-four {
  background-color: #D1C4E9;
  text-align: center;
}

#section-four a {
  color: white;
}

#section-four a:hover {
  color: black;
}

.project-pic {
  width: 100%;
  border-radius: 10px;
}

.project-link {
  color: black;
}

.skills h4 {
  padding: 0.5em;
  background-color: white;
  border-radius: 10px;
  margin: 0.5em;
  display: inline-block;
  /*visibility: hidden;*/
}

.skills h4:hover {
  background-color: black;
  color: white;
}

/* Animate.css flip effect */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}


