/* Nav styling */

.intro {
  font-size: 50px;
}

img {
  border-radius: 50%;
  width: 26%;
  height: 10%;
}

#header, #footer{
  position: fixed;
  height: 70px;
  display: block;
  width: 100%;
  background: #333333;
  z-index: 19;
  text-align: center;
  color: #f2f2f2;
  padding: 0 0 0 0;
}

#header{
  top: 0px;
}

#header #name {
  text-align: left;
  margin-left: 1em;
  font-size: 4rem;
  line-height: 7rem;
  float: left;
}

#nav {
  line-height: 6.5rem;
  list-style: none;
  margin-left: 30px;
}

.nav {
  font-size: 2.5rem;
  display: inline;
  margin-left: 10px;
  margin-right: 20px;
}

.clash-link {
  color: #4f71f0;
}

/*really small*/
@media (max-width: 666px) {
  #header #name {
    font-size: 1.8rem;
  }
  .nav {
    font-size: 1.1rem;
    margin-left: 2px;
    margin-right: 4px; 
  }
}

/*a bit bigger, but still small*/
@media (min-width: 667px) and (max-width: 1023px) {
  #header #name {
    font-size: 2.7rem;
  }
  .nav {
    font-size: 1.7rem;
    margin-left: 2px;
    margin-right: 4px; 
  }
}

/* Section styling */

#section-one {
  background-color: #FFEB3B;
  text-align: center;
}

#section-two {
  background-color: #ffb74d;
}

#section-three {
  background-color: #FFECB3;
}

#section-four {
  background-color: #D1C4E9;
  text-align: center;
}

#section-four a {
  color: white;
}

#section-four a:hover {
  color: black;
}

.project-pic {
  width: 100%;
  border-radius: 10px;
}

.project-link {
  color: black;
}

.skills h4 {
  padding: 0.5em;
  background-color: white;
  border-radius: 10px;
  margin: 0.5em;
  display: inline-block;
  /*visibility: hidden;*/
}

